name: Apple Mac Catalyst
on: { push: { branches: [main] }, pull_request: {}, workflow_dispatch: {} }

concurrency:
  group: ci-${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        xcode: ["16.1", "latest-stable"]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}
      - uses: ./.github/actions/ensure-swift
      - run: xcodebuild -resolvePackageDependencies -scheme "Stheno" -toolchain swift IDEPackageSupportToolchainOverrideForManifestLoading=swift
      - run: xcodebuild test -scheme "Stheno" -toolchain swift IDEPackageSupportToolchainOverrideForManifestLoading=swift -destination "platform=macOS,variant=Mac Catalyst"
